.ad-section-container {
    background-color: #165315;
    height:35px;
    min-width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px 0px 10px;
}

.ad-section-description {
    color:#FFFFFF;
    font-size:10px;
    font-weight:500;
    font-family: "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
    .ad-section-description {
        font-size:14px;
    }
}

.ad-section-contact-number {
    color:#FFFFFF;
    font-size:10px;
    font-weight:500;
    font-family: "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
    .ad-section-contact-number {
        
        font-size:14px;
    }
}